@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    font-family: 'Nunito', sans-serif;    
}

.desktop--nav {
    display: none;
}

.mobile--nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgb(212, 175, 55);   
    list-style: none; 
    padding: .5rem 1.5rem;
    text-align: right;
}

.logo {
    color: rgb(212, 175, 55);
    font-family: 'Pacifico', cursive;
    font-size: 1.25rem;
    font-weight: 700;
}

.menu_btn {
    width: 50%;
}

.mobile--nav .logo {
    transform: translateX(50%);
}

.banner--section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    border-bottom: 1px solid rgb(212, 175, 55);  
    font-weight: 500;      
    height: 100vh;
    padding: .5rem 1.5rem;
    text-align: center;
}

.banner--section h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
}

.profile--img {    
    border-radius: 50%;
    border: 2px solid rgb(212, 175, 55);        
    width: 80%;    
}

.contact--button {    
    background-color: transparent;
    border: 2px solid rgb(212, 175, 55);  
    border-radius: 70px;       
    color: black;
    cursor: pointer;    
    
    font-family: 'DM Sans', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;    
    letter-spacing: .1rem;
    padding: .5rem 1.25rem;        
}

/* .contact--button:hover {    
    background-color: rgb(212, 175, 55);    
    background-color: black;    
    border: 2px solid #4E4011;
    color: white;
} */